$body-bg: whitesmoke;
$main-bg: white;
$border-color: black;
$shadow-color: rgba(136, 136, 136, 0.5);
$header-color: #226699;
$link-color: #226699;
$link-hover: #d08504;
$remove-button: orangered;
$font-color: black;
$inverse-font-color: white;
$go-button: rgb(42, 177, 42);